@model NewKinoHub.Storage.Entity.Media
<head>
    <link href="~/css/editadd.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <h1 class="coloraddtext">Редактирование фильма:</h1>
        <form action="" method="post" enctype="multipart/form-data" style="width:100% !important;">
            <table class="tablesize">
                <tbody>
                    <tr>
                        <td>
                            <label class="colortext">Название:<sup>*</sup></label><br />
                            <input value=@Model.Name type="text" name="Name" required /><br />
                        </td>
                    </tr>
                    <tr class="trsize">
                        <td valign="top" class="tdstyle">
                            <label class="colortext">Аватарка(Только ссылка с сервера):<sup>*</sup></label><br />
                            <input value=@Model.Img type="text" name="mainPhoto" required><br />

                            <label class="colortext">Год:<sup>*</sup></label><br />
                            <input value="@Model.Year" type="text" name="Year" required /><br />
                        </td>
                        <td valign="top" class="tdstyle">
                            <label class="colortext">Страна:<sup>*</sup></label><br />
                            <input value=@Model.Country type="text" name="Contry" required /><br />

                            <label class="colortext">Дата выхода:<sup>*</sup></label><br />
                            <input value=@Model.Release_Date type="text" name="Release_Date" required /><br />
                        </td>
                        <td valign="top" class="tdstyle">
                            <label class="colortext">Возраст<sup>*</sup></label><br />
                            <input value="@Model.Age" type="text" name="Age" required /><br />

                            <label class="colortext">Время:<sup>*</sup></label><br />
                            <input value=@Model.Runtime type="text" name="RunTime" required /><br />
                        </td>
                    </tr>
                    <tr class="trsize">
                        <td valign="top" colspan="2" class="tdstyle">
                            <label class="colortext">Описание:<sup>*</sup></label><br />
                            <input style="height:100px;" value=@Model.Description type="text" name="Description" required /><br />

                            <label class="colortext">Краткое описание:<sup>*</sup></label><br />
                            <input style="height:100px;" value=@Model.ShortDescription type="text" name="shortDiscription" required /><br />
                        </td>
                        <td valign="top" class="tdstyle">
                            <label class="colortext">Рейтинг<sup>*</sup></label><br />
                            <input value=@Model.Score type="text" name="Score" required /><br />

                            <label class="colortext">Рейтинг с кинопоиска<sup>*</sup></label><br />
                            <input value=@Model.ScoreKP type="text" name="ScoreKP" required /><br />

                            <label class="colortext">Ссылка на трейлер(с Ютуба)<sup>*</sup></label><br />
                            <input value=@Model.Video type="text" name="Video" required /><br />

                            <label class="colortext">Ссылка на музыку(Яндекс музыка)<sup>*</sup></label><br />
                            <input value=@Model.SoundTrackUrl type="text" name="Music" required /><br />
                        </td>
                    </tr>
                    <tr class="trsize">
                        <td colspan="3" class="tdstyle">
                            <input type="submit" value="Подтвердить" formaction=@Url.Action("EditFilms", "Films", new { Id = Model.MediaID })>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
</body>
