@model ICollection<NewKinoHub.Storage.Entity.Cast>

<html style="font-size: 16px;">

<body>
    <div class="u-clearfix u-sheet u-sheet-1 wrapper">

        @foreach (var cast in Model)
        {
        <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
            <a href=@Url.Action("Person", "Persons", new { personId = cast.PersonId }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">
                <img class="u-back-image u-expanded imagetitle imglist" src=@cast.Person.Image>
            </a>
            <div class="bglistcast" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
                <table style="width: 780px;">
                    <tbody>
                        <tr>
                            <td style="width: 400px;">
                                <p style="font-weight: bold; color:black; right:100%; left:0%;"> @cast.Person.Name </p>

                                @if (cast.RoleInFilm == ViewBag.Actor)
                                {
                                    <p style="color:black;">
                                        <span style="font-weight:bold">Роль в фильме:</span>

                                        @cast.Character

                                    </p>
                                }
                            </td>
                            @if (ViewBag.Role == 1)
                            {
                                <td align="right" valign="top" width="30">
                                    <a href="#">
                                        <img class="deleteicon" src="~/lib/images/Icons/edit.png" />
                                    </a>
                                </td>
                                <td align="right" valign="top" width="30">
                                    <a href=@Url.Action("DeleteCast", "Cast", new { IdCast = cast.Id, IdFilm = cast.MediaId })>
                                        <img class="deleteicon" src="~/lib/images/Icons/close.png" />
                                    </a>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>

            
            <div style=" clear:both;"></div>
        </div>
        }
    </div>
</body>
</html>
