@model ICollection<NewKinoHub.Storage.Entity.Cast>

<html style="font-size: 16px;">

<body>
    <div class="u-clearfix u-sheet u-sheet-1 wrapper">

        @foreach (var cast in Model)
        {
            <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
                <a href=@Url.Action("Person", "Persons", new { personId = cast.PersonId }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">                    
                    @if (cast.Person.Img != null)
                    {
                        <img height="395" width="265" class="u-back-image u-expanded imagetitle" src="data:image/jpeg;base64, @(Convert.ToBase64String(cast.Person.Img))">
                    }
                    else
                    {
                        <img height="395" width="265" class="u-back-image u-expanded imagetitle" src="~/lib/images/trav1.gif">
                    }
                </a>
                <div class="bglistcast" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
                     <p style="font-weight: bold; right:100%; left:0%;"> @cast.Person.Name </p>
                    @if ((int)cast.RoleInFilm == 2)
                    {
                        <p style="color:black;"><span style="font-weight:bold; color:black;">Роль в фильме:</span>

                        @cast.Character 
                
                        </p>
                    }
                </div>
                <div style=" clear:both;"></div>
            </div>
        }
    </div>
</body>
</html>
