<head>
    <link href="~/css/Profil.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div style="margin-top:10px;">
            <a class="btn" href=@Url.Action("SearchPerson","Cast", new { ViewBag.IdFilm, role = 2})>Найти и добавить актера</a>
        </div>
        <div style="margin-top:10px;">
            <a class="btn" href=@Url.Action("SearchPerson","Cast", new { ViewBag.IdFilm,role = 0})>Найти и добавить режиссера</a>
        </div>
        <div style="margin-top:10px;">
            <a class="btn" href=@Url.Action("SearchPerson","Cast", new { ViewBag.IdFilm,role = 1})>Найти и добавить cценариста</a>
        </div>
        <div style="margin-top:10px;">
            <a class="btn" style="height:70px;" href=@Url.Action("AddCasts","Cast", new { ViewBag.IdFilm})>Добавить нового актера\режиссера\сценариста</a>
        </div>
    </div>
</body>