
﻿@*@model NewKinoHub.Storage.Entity.RegisterModel*@

﻿<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>@ViewData["Title"] - NewKinoHub</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" />
     <link rel="stylesheet" href="~/css/upbutton.css" />                        @*кнопка наверх*@
     <link rel="stylesheet" href="~/css/titlestyle.css" media="screen">         @*стили для списка тайтлов*@
     <link rel="stylesheet" href="~/css/layout.css" media="screen" />           @*форма фильмов/сериалов; кнопки главного меню; форма поиска*@
     <link rel="stylesheet" href="~/css/bg_css/bg_films.css" media="screen" />  @*фон выбора жанров фильмов*@
     <style>
         @@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
     </style>
 </head>
 <body style="font-family: 'Arimo', sans-serif !important;" class="bodybg">
     @*начало блока с фильмами*@
     <div id="filmform">
         <a href="#"></a>
         <div id="bg_films" style="background-size:100%; background-color: rgba(8,8,8,0.3);">
             <table style="position:center;">
                 <tbody>
                     <tr>
                         @* пустые<td></td> не удалять, они не лишние *@
                         @* первая строчка жанров *@
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 1})>Аниме</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 2})>Биография</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 3})>Боевик</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 4})>Вестерн</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 5})>Военный</a></td>
                     </tr>
                     @* вторая строчка жанров *@
                     <tr>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 6})>Детектив</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 7})>Документальный</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 8})>Драма</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 9})>Комедия</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 10})>Криминал</a></td>
                     </tr>
                     @* третья строчка жанров *@
                     <tr>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 11})>Мелодрама</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 12})>Музыка</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 13})>Мультфильм</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 14})>Мюзикл</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 15})>Приключения</a></td>
                     </tr>
                     @* четвертая строчка жанров *@
                     <tr>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 16})>Семейный</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 17})>Триллер</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 18})>Ужасы</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 19})>Фантастика</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 20})>Фэнтези</a></td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
     @*конец блока с фильмами*@
     @*начало блока с сериалами*@
     <div id="serialform">
         <a href="#"></a>
         <div id="bg_films" style="background-size:100%;">
             <table style="position:center;">
                 <tbody>
                     @* пустые<td></td> не удалять, они не лишние *@
                     <tr>
                         @* первая строчка жанров *@
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 1})>Аниме</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 2})>Биография</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 3})>Боевик</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 4})>Вестерн</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 5})>Военный</a></td>

                     </tr>
                     @* вторая строчка жанров *@
                     <tr>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 6})>Детектив</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 7})>Документальный</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 8})>Драма</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 9})>Комедия</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 10})>Криминал</a></td>
                     </tr>
                     @* третья строчка жанров *@
                     <tr>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 11})>Мелодрама</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 12})>Музыка</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 13})>Мультфильм</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 14})>Мюзикл</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 15})>Приключения</a></td>
                     </tr>
                     @* четвертая строчка жанров *@
                     <tr>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 16})>Семейный</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 17})>Триллер</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 18})>Ужасы</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 19})>Фантастика</a></td>
                         <td><a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 20})>Фэнтези</a></td>
                     </tr>
                 </tbody>
             </table>
             <br />
         </div>
     </div>
     @*конец блока с сериалами*@
     <header class="border-bottom headerbg">
         <center>
             <div class="container">
                 <div style="margin-top:1%;">
                     <table style="width: 100%; max-width: 1100px; margin: 0 auto; position:center;">
                         <tbody>
                             <tr>
                                 <td>
                                     <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                                         <img src="~/lib/images/logo.png" style="width : 200px !important; position:static;" />
                                     </a>
                                 </td>
                                 <td style="width: 140px !important;">
                                     <nav id="menu1">
                                         <ul>
                                             @*id menu - для выплывающего меню*@
                                             <li>
                                                 @*фильмы*@
                                                 <a style="width: 140px !important;" asp-area="" asp-controller="Films" asp-action="ListFilms">Фильмы</a>
                                                 <ul>
                                                     <li>
                                                         <a style="width: 140px !important;" href="#filmform">Жанры</a>
                                                     </li>
                                                 </ul>
                                             </li>
                                         </ul>
                                     </nav>
                                 </td>
                                 <td style="width: 140px !important;">
                                     <nav id="menu1">
                                         <ul>
                                             @*id menu - для выплывающего меню*@
                                             <li>
                                                 @*сериалы*@
                                                 <a style="width: 140px !important;" asp-area="" asp-controller="Films" asp-action="ListSerials">Сериалы</a>
                                                 <ul>
                                                     <li>
                                                         <a style="width: 140px !important;" href="#serialform">Жанры</a>
                                                     </li>
                                                 </ul>
                                             </li>
                                         </ul>
                                     </nav>
                                 </td>
                                 <td style="width: 140px !important;">
                                     <nav id="menu1">
                                         <ul>
                                             @*id menu - для выплывающего меню*@
                                             <li>
                                                 <a style="width: 140px !important;" asp-area="" asp-controller="Persons" asp-action="ListPersons">Актеры</a>
                                             </li>
                                         </ul>
                                     </nav>
                                 </td>
                                 <td style="width: 100%; width: 150px !important;">
                                     <form class="searchfo" method="get" asp-controller="Home" asp-action="Search" style="width:250px !important;">
                                         @*Блок поиска по сайту*@
                                         <input class="searchin" type="search" placeholder="Поиск..." value="@ViewData["Getemployeedetails"]" name="Name">       @*Блок поиска по сайту*@
                                         <button type="submit" value="Search" class="searchbu" />                        @*Блок поиска по сайту*@
                                     </form>
                                 </td>
                                 <td style="width: 140px !important;">
                                     <nav id="menu1">
                                          <ul>
                                             <li style="width: 140px !important;">
                                                 <a asp-area="" asp-controller="User" asp-action="Profile"> Профиль</a>
                                             </li>
                                          </ul>
                                     </nav>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </center>
     </header>
     <div class="container" style="margin-top:100px;">
         <main role="main" class="pb-3">
             @RenderBody()
         </main>
     </div>

     <footer class="border-top footer text-muted">
         <div class="container" style="margin-top:1%;">
             &copy; 2021 - <a style="text-decoration: none;" class="text-muted" asp-controller="Home" asp-action="Index">KinoHub</a> - Все права защищены
         </div>
     </footer>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script class="u-script" type="text/javascript" src="~/js/upbutton.js" defer=""></script>
     <script src="~/js/site.js" asp-append-version="true"></script>
     @await RenderSectionAsync("Scripts", required: false)
     <div ID="toTop"> ^ Наверх </div>
 </body>
 </html>