
﻿@*@model NewKinoHub.Storage.Entity.RegisterModel*@

﻿<!DOCTYPE html>

 <html lang="en">
 <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>@ViewData["Title"] - NewKinoHub</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" />
     <link rel="stylesheet" href="/css/headerlist2.css" />                      @*кнопки главного меню*@
     <link rel="stylesheet" href="~/css/upbutton.css" />                        @*кнопка наверх*@
     <link rel="stylesheet" href="~/css/searchbutton.css" />                    @*форма поиска*@
     <link rel="stylesheet" href="~/css/titlestyle.css" media="screen">          @*стили для списка тайтлов*@
     <link rel="stylesheet" href="~/css/registration.css" media="screen" />     @*форма регистрации/входа*@
     <link rel="stylesheet" href="~/css/layout.css" media="screen" />           @*форма фильмов/сериалов*@
     <style>
         @@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
     </style>

 </head>
 <body style="font-family: 'Arimo', sans-serif !important;" class="bodybg">
     @*начало блока с фильмами*@
     <div id="filmform">
         <a href="#"></a>
         <div>
             <table style="position:center;">
                 <tbody>
                     <tr>
                         @* пустые<td></td> не удалять, они не лишние *@
                         @* первая строчка жанров *@
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 1})>Аниме</a>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 13})>Боевик</a>
                         </td>
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 11})>Драма</a>
                         </td>
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 9})>Мелодрама</a>
                         </td>
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 14})>Мультфильм</a>
                         </td>
                     </tr>
                     @* вторая строчка жанров *@
                     <tr>
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 2})>Фантастика</a>
                         </td>
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 8})>Фэнтези</a>
                         </td>
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 6})>Криминал</a>
                         </td>
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 12})>Детектив</a>
                         </td>
                         <td >
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = 7})>Мюзикл</a>
                         </td>
                     </tr>
                     @* третья строчка жанров *@
                     <tr>
                         <td>
                             <a href="#">non Genre</a>
                         </td>
                         <td>
                             <a href="#">non Genre</a>
                         </td>
                         <td>
                             <a href="#">non Genre</a>
                         </td>
                         <td>
                             <a href="#">non Genre</a>
                         </td>
                         <td>
                             <a href="#">non Genre</a>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
     @*конец блока с фильмами*@
     @*начало блока с сериалами*@
     <div id="serialform">
         <a href="#"></a>
         <div>
             <table style="width:1200px; position:center;">
                 <tbody>
                     <tr>
                         <td>
                             @*первая строчка*@
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 1})>
                                 <img src="~/lib/images/Films/JohnWick.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Аниме</h5>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 13})>
                                 <img src="~/lib/images/Films/ArmorOfGod.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Боевик</h5>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 11})>
                                 <img src="~/lib/images/Films/ChelovekSBulvaraKaputsinov.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Драма</h5>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 9})>
                                 <img src="~/lib/images/Films/ArmorOfGod.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Мелодрама</h5>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 14})>
                                 <img src="~/lib/images/Films/ChelovekSBulvaraKaputsinov.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Мультфильм</h5>
                         </td>
                     </tr>
                     <tr>
                         @*вторая строчка*@
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 2})>
                                 <img src="~/lib/images/Films/JohnWick.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Фантастика</h5>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 8})>
                                 <img src="~/lib/images/Films/ArmorOfGod.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Фэнтези</h5>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 6})>
                                 <img src="~/lib/images/Films/ChelovekSBulvaraKaputsinov.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Криминал</h5>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial", filtr = 12 })>
                                 <img src="~/lib/images/Films/ArmorOfGod.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Детектив</h5>
                         </td>
                         <td>
                             <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = 7})>
                                 <img src="~/lib/images/Films/ChelovekSBulvaraKaputsinov.jpg" alt="" style="height:200px;">
                             </a>
                             <h5 style="color:white;">Мюзикл</h5>
                         </td>
                     </tr>
                 </tbody>
             </table>
             <br />
         </div>
     </div>
     @*конец блока с сериалами*@
     @*max-width: 1125px;*@
     <header style="height: 13% !important; width: 100%; position: absolute; top: 0; " class="border-bottom headerbg">
         <center>
             <div class="container">
                 <div style="margin-top:1% !important;">
                     <table style="width: 100%; max-width: 1100px; margin: 0 auto; position:center;">
                         <tbody>
                             <tr>
                                 <td>
                                     <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                                         <img src="~/lib/images/logo.jpg" style="border-radius : 8px; width : 200px !important; position:static;" />
                                     </a>
                                 </td>
                                 <td style="width: 100%; max-width: 420px !important;">
                                     <nav id="menu1">
                                         <ul>
                                             @*id menu - для выплывающего меню*@
                                             <li style="width: 100%; max-width: 120px !important;">
                                                 @*фильмы*@
                                                 <a asp-area="" asp-controller="Films" asp-action="ListFilms">Films</a>
                                                 <ul>
                                                     <li style="width: 100%; max-width: 120px !important;">
                                                         <a href="#filmform">Genres</a>
                                                     </li>
                                                 </ul>
                                             </li>
                                             <li style="width: 100%; max-width: 130px !important;">
                                                 @*сериалы*@
                                                 <a asp-area="" asp-controller="Films" asp-action="ListSerials">Serials</a>
                                                 <ul>
                                                     <li style="width: 100%; max-width: 130px !important;">
                                                         <a href="#serialform">Genres</a>
                                                     </li>
                                                 </ul>
                                             </li>
                                             <li style="width: 100%; max-width: 140px !important;">
                                                 <a href="#">О нас</a>
                                             </li>
                                         </ul>
                                     </nav>
                                 </td>
                                 <td style="width: 100%; width: 150px !important;">
                                     <form method="get" asp-controller="Home" asp-action="Search" style="width:250px !important;">
                                         @*Блок поиска по сайту*@
                                         <input type="search" placeholder="Search title..." value="@ViewData["Getemployeedetails"]" name="Name">       @*Блок поиска по сайту*@
                                         <button type="submit" value="Search" class="button" />                        @*Блок поиска по сайту*@
                                     </form>
                                 </td>
                                 <td style="width: 100%; max-width: 260px !important;">
                                     <nav id="menu1">
                                         <ul>
                                             <li style="width: 100%; max-width: 250px !important;">
                                                 <a asp-area="" asp-controller="Account" asp-action="Register">Sign</a> @* не трогать строчку*@
                                             </li>
                                         </ul>
                                         <ul>
                                             @if (1 == 1)
                                             {
                                                 <li style="width: 100%; max-width: 250px !important;">
                                                     <a asp-area="" asp-controller="User" asp-action="Profile"> Profile</a>
                                                 </li>
                                             }
                                             else
                                             {
                                                 <li style="width: 100%; max-width: 250px !important;">
                                                     <a style="background-color:black !important; color: white !important;">Profile</a>
                                                 </li>
                                             }
                                         </ul>
                                     </nav>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </center>
     </header>
     <div class="container" style="margin-top:100px;">
         <main role="main" class="pb-3">
             @RenderBody()
         </main>
     </div>

     <footer class="border-top footer text-muted">
         <div class="container" style="margin-top:1%;">
             &copy; 2021 - <a style="text-decoration: none;" class="text-muted" asp-controller="Home" asp-action="Index">KinoHab</a> - Все права защищены
         </div>
     </footer>
     <script class="u-script" type="text/javascript" src="~/js/bg_genres.js" defer=""></script>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script class="u-script" type="text/javascript" src="~/js/upbutton.js" defer=""></script>
     <script src="~/js/site.js" asp-append-version="true"></script>
     @await RenderSectionAsync("Scripts", required: false)
     <div ID="toTop"> ^ Наверх </div>
 </body>
 </html>