@keyframes bg-сhange {
    from {
        background-image: url('../../lib/bg/your_name.jpg');
    }
    20% {
        background-image: url('../../lib/bg/vandavision.jpg');
    }
    40% {
        background-image: url('../../lib/bg/ditya_pogody.jpg');
    }
    60% {
        background-image: url('../../lib/bg/Mandalorian.jpg');
    }
    80% {
        background-image: url('../../lib/bg/raua1.jpg');
    }

    to {
        background-image: url('../../lib/bg/soul.jpg');
    }

}

#bg_films {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    animation: bg-сhange 100s infinite;
}