@keyframes bg-сhange {
    from {
        background-image: url('../../lib/bg/major-grom.jpg');
    }

    20% {
        background-image: url('../../lib/bg/justice-league.jpg');
    }

    40% {
        background-image: url('../../lib/bg/major-grom.jpg');
    }

    60% {
        background-image: url('../../lib/bg/justice-league.jpg');
    }

    80% {
        background-image: url('../../lib/bg/major-grom.jpg');
    }

    to {
        background-image: url('../../lib/bg/justice-league.jpg');
    }

}

#bg {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    animation: bg-сhange 90s infinite;
}