/*стили для выпадающени меню*/
#conteiner {
    width: 1000px;
    height: auto;
    margin: 0px auto;
    padding-top: 10px;
}

#menu1 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
}

    #menu1 ul {
        position: relative;
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
        list-style: none;
        background-color: rgb(8,8,8);
    }

    #menu1 > ul {
        text-align: justify;
        font-size: 1px;
        line-height: 1px;
    }

        #menu1 > ul::after {
            display: inline-block;
            width: 100%;
            height: 0px;
            content: " ";
        }

    #menu1 ul li {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align: top;
        text-align: left;
        background-color: rgb(8,8,8);
        color: white;
    }

        #menu1 ul li.razd {
            height: 28px;
            width: 1px;
            background: #ffffff;
            margin-top: 4px;
        }

        #menu1 ul li a {
            display: block;
            padding: 9px 45px 0px 45px;
            font-size: 14px;
            color: #ffffef;
            line-height: 1.3em;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            height: 36px;
            box-sizing: border-box;
        }

        #menu1 ul li > a:hover, #menu1 ul li:hover > a {
             /*стиль выпадающщих кнопок первого меню*/
            background: rgb(247,151,30);
            color: black;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }

        #menu1 ul li ul {
            position: absolute;
            top: 36px;
            left: 0px;
            display: none;
            width: auto;
            background-color:black;
            white-space: nowrap;
        }

    #menu1 > ul > li:last-child > ul { /*последний пункт будет прикреплен по правому краю*/
        left: auto;
        right: 0px;
    }

    #menu1 ul li:hover > ul {
        display: block;
    }
    эта строчка реализует механизм выпадения
    #menu1 ul li ul li {
        display: block;
        width: auto;
        background-color: black;
        color: white;
    }

        #menu1 ul li ul li a {
            display: block;
            text-transform: none;
            height: auto;
            padding: 7px 45px;
            width: 100%;
            box-sizing: border-box;
            border-top: 1px solid #ffffff;
        }

        #menu1 ul li ul li:first-child > a {
            border-top: 0px;
        }

        #menu1 ul li ul li a:hover, #menu1 ul li ul li:hover > a {
             /*стиль выпадающщих кнопок второго меню*/
            background: rgb(247,151,30);
            color: black;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }

        #menu1 ul li ul li ul {
            top: 0px;
            left: 100%;
            display: none;
            background: #fddc96;
        }

    #menu1 > ul > li:last-child > ul ul {
        left: auto;
        right: 100%;
    }

    #menu1 ul li ul li ul a {
        color: #F38A01;
    }
