/*---------------------------------------------окно с фильмами---------------------------------------------*/
/*---------------------------------------------окно с фильмами---------------------------------------------*/
/*---------------------------------------------окно с фильмами---------------------------------------------*/

#filmform {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #filmform > a {
        width: 100%;
        min-height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #filmform > a:target {
            visibility: visible;
            opacity: 1;
        }

    #filmform > div {
        width: 80%;
        height: 66%;
        text-align: center;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 22;
    }

    #filmform:target {
        display: block;
    }

    #filmform > div > table {
        width: 100%;
        height: 100%;
        z-index: 23;
        background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(26,25,23,0.4) 50%, rgba(0,0,0,0.4) 100%);
    }

        #filmform > div > table > tbody > tr {
            width: 100%;
            height: 25%;
            color: white;
        }


    #filmform > div > table > tbody > tr > td {
        position:relative;
        width: 20%;
        height: 25%;
        text-align: center;
        color:white;
    }

        #filmform > div > table > tbody > tr > td:hover {
            background-color: rgba(26,25,23,0.5);
        }
        #filmform > div > table > tbody > tr > td > a {
            position:absolute;
            left: 0;
            right: 0;
            top: 40%;
            bottom: 0;
            text-decoration: none;
            font-weight: 500;
            font-size: 200%;
            color: white;
        }
        #filmform > div > table > tbody > tr > td > a:hover {
            
            font-size: 201%;
            color: azure !important;
        }



/*---------------------------------------------окно с сериалами---------------------------------------------*/
/*---------------------------------------------окно с сериалами---------------------------------------------*/
/*---------------------------------------------окно с сериалами---------------------------------------------*/


#serialform {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #serialform > a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #serialform > a:target {
            visibility: visible;
            opacity: 1;
        }

    #serialform > div {
        width: 80%;
        height: 66%;
        text-align: center;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 22;
    }

    #serialform:target {
        display: block;
    }

    #serialform > div > table {
        width: 100%;
        height: 100%;
        z-index: 23;
        background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(26,25,23,0.4) 50%, rgba(0,0,0,0.4) 100%);
    }

        #serialform > div > table > tbody > tr {
            width: 100%;
            height: 25%;
            color: white;
        }


            #serialform > div > table > tbody > tr > td {
                position: relative;
                width: 20%;
                height: 25%;
                text-align: center;
                color: white;
            }

                #serialform > div > table > tbody > tr > td:hover {
                    background-color: rgba(26,25,23,0.5);
                }

                #serialform > div > table > tbody > tr > td > a {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 40%;
                    bottom: 0;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 200%;
                    color: white;
                }

                    #serialform > div > table > tbody > tr > td > a:hover {
                        font-size: 201%;
                        color: azure !important;
                    }