/*---------------------------------------------окно с фильмами---------------------------------------------*/
/*---------------------------------------------окно с фильмами---------------------------------------------*/
/*---------------------------------------------окно с фильмами---------------------------------------------*/

#filmform {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #filmform > a {
        width: 100%;
        min-height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #filmform > a:target {
            visibility: visible;
            opacity: 1;
        }

    #filmform > div {
        width: 80%;
        height: 66%;
        text-align: center;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 22;
    }

    #filmform:target {
        display: block;
    }

    #filmform > div > table {
        width: 100%;
        height: 100%;
        z-index: 23;
        background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(26,25,23,0.4) 50%, rgba(0,0,0,0.4) 100%);
    }

        #filmform > div > table > tbody > tr {
            width: 100%;
            height: 25%;
            color: white;
        }


    #filmform > div > table > tbody > tr > td {
        position:relative;
        width: 20%;
        height: 25%;
        text-align: center;
        color:white;
    }

        #filmform > div > table > tbody > tr > td:hover {
            background-color: rgba(26,25,23,0.5);
        }
        #filmform > div > table > tbody > tr > td > a {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-decoration: none;
            font-weight: 500;
            font-size: 200%;
            color: white;
            padding-top: 17%;
        }
        #filmform > div > table > tbody > tr > td > a:hover {
            
            font-size: 201%;
            color: azure !important;
        }
/*---------------------------------------------окно с сериалами---------------------------------------------*/
/*---------------------------------------------окно с сериалами---------------------------------------------*/
/*---------------------------------------------окно с сериалами---------------------------------------------*/
#serialform {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #serialform > a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #serialform > a:target {
            visibility: visible;
            opacity: 1;
        }

    #serialform > div {
        width: 80%;
        height: 66%;
        text-align: center;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 22;
    }

    #serialform:target {
        display: block;
    }

    #serialform > div > table {
        width: 100%;
        height: 100%;
        z-index: 23;
        background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(26,25,23,0.4) 50%, rgba(0,0,0,0.4) 100%);
    }

        #serialform > div > table > tbody > tr {
            width: 100%;
            height: 25%;
            color: white;
        }


            #serialform > div > table > tbody > tr > td {
                position: relative;
                width: 20%;
                height: 25%;
                text-align: center;
                color: white;
            }

                #serialform > div > table > tbody > tr > td:hover {
                    background-color: rgba(26,25,23,0.5);
                }

                #serialform > div > table > tbody > tr > td > a {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 40%;
                    bottom: 0;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 200%;
                    color: white;
                }

                    #serialform > div > table > tbody > tr > td > a:hover {
                        font-size: 201%;
                        color: azure !important;
                    }
/*---------------------------------------------меню---------------------------------------------*/
/*---------------------------------------------меню---------------------------------------------*/
/*---------------------------------------------меню---------------------------------------------*/
#conteiner {
    width: 1000px;
    height: auto;
    margin: 0px auto;
    padding-top: 10px;
}

#menu1 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
}

    #menu1 ul {
        position: relative;
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
        list-style: none;
        /*background-color: rgb(8,8,8);*/
    }

    #menu1 > ul {
        text-align: justify;
        font-size: 1px;
        line-height: 1px;
    }

        #menu1 > ul::after {
            display: inline-block;
            width: 100%;
            height: 0px;
            content: " ";
        }

    #menu1 ul li {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align: top;
        text-align: left;
        /*background-color: rgb(8,8,8);*/
        color: white;
    }

        #menu1 ul li.razd {
            height: 28px;
            width: 1px;
            background: #ffffff;
            margin-top: 4px;
        }

        #menu1 ul li a {
            display: block;
            padding: 9px 45px 9px 45px;
            font-size: 14px;
            color: #ffffef;
            line-height: 1.3em;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            height: 36px;
            box-sizing: border-box;
        }

        #menu1 ul li > a:hover, #menu1 ul li:hover > a {
            /*стиль выпадающщих кнопок первого меню*/
            background: rgb(247,151,30);
            color: black;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }

        #menu1 ul li ul {
            position: absolute;
            top: 36px;
            left: 0px;
            display: none;
            width: auto;
            background-color: black;
            white-space: nowrap;
        }

    #menu1 > ul > li:last-child > ul { /*последний пункт будет прикреплен по правому краю*/
        left: auto;
        right: 0px;
    }

    #menu1 ul li:hover > ul {
        display: block;
    }

эта строчка реализует механизм выпадения
#menu1 ul li ul li {
    display: block;
    width: auto;
    background-color: black;
    color: white;
}

#menu1 ul li ul li a {
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 45px;
    width: 100%;
    box-sizing: border-box;
}

#menu1 ul li ul li:first-child > a {
    border-top: 0px;
}

#menu1 ul li ul li a:hover, #menu1 ul li ul li:hover > a {
    /*стиль выпадающщих кнопок второго меню*/
    background: rgb(247,151,30);
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#menu1 ul li ul li ul {
    top: 0px;
    left: 100%;
    display: none;
    background: #fddc96;
}

#menu1 > ul > li:last-child > ul ul {
    left: auto;
    right: 100%;
}

#menu1 ul li ul li ul a {
    color: #F38A01;
}
/*---------------------------------------------форма поиска---------------------------------------------*/
/*---------------------------------------------форма поиска---------------------------------------------*/
/*---------------------------------------------форма поиска---------------------------------------------*/
* {
    box-sizing: border-box;
}

form.searchfo {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input.searchin {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    background-color: white;
    color: #9E9C9C;
}

button.searchbu {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: rgb(8,8,8);
}

    button.searchbu:before {
        content: '>';
        font-size: 16px;
        color: #F9F0DA;
    }

    button.searchbu:hover {
        background-color: rgb(247,151,30);
    }