/*Фон кнопок управления в профиле*/
tr.background {
    width: 1500px;
    height: 100px;
    background-color: bisque;
}


    .tablestyle{
        width:100% !important;
    }
a.btn_register {
    color: #ffffff;
}

    a.btn_register:hover {
        background: linear-gradient(45deg, #ffffff 33%, #f7971e 66%, #f7971e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #f7971e;
    }




/*---------------------------------------------настройки профиля---------------------------------------------*/
/*---------------------------------------------настройки профиля---------------------------------------------*/
/*---------------------------------------------настройки профиля---------------------------------------------*/

#profil {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #profil > a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #profil > a:target {
            visibility: visible;
            opacity: 1;
        }

    #profil > div {
        width: 500px;
        height: 400px;
        text-align: center;
        padding: 15px;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: rgb(8,8,8);
        z-index: 22;
    }

    #profil:target {
        display: block;
    }



    #profil > div > form {
        width:80%;
    }

#password1 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #password1 > a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #password1 > a:target {
            visibility: visible;
            opacity: 1;
        }

    #password1 > div {
        width: 500px;
        height: 300px;
        text-align: center;
        padding: 15px;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: rgb(8,8,8);
        z-index: 22;
    }

    #password1:target {
        display: block;
    }



    #password > div > form {
        width: 80%;
    }
.hide{
    display:none;
}
.people {
    display: none;
}

.active.people {
    display: inline-block;
}

.people1 {
    display: none;
}

.active1.people1 {
    display: inline-block;
}