/*Фон кнопок управления в профиле*/
tr.background {
    width: 1500px;
    height: 100px;
    background-color: bisque;
}
img.avasize{
    width:150px;
    height:150px;
    border-radius:50%;
}

a.btn{
    width:300px;
    height:40px;
    background-color:black;
    align-content:center;
    color:white;
}

    a.btn:hover {
        background: rgb(247,151,30);
        color: black;
    }

/*---------------------------------------------настройки профиля---------------------------------------------*/
/*---------------------------------------------настройки профиля---------------------------------------------*/
/*---------------------------------------------настройки профиля---------------------------------------------*/

#profil {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #profil > a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #profil > a:target {
            visibility: visible;
            opacity: 1;
        }

    #profil > div {
        width: 500px;
        height: 400px;
        text-align: center;
        padding: 15px;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: black;
        z-index: 22;
    }

    #profil:target {
        display: block;
    }

    #profil > div > a {
        background-color: bisque;
        display: block;
        padding: 9px 45px 0px 45px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: black;
        line-height: 1.3em;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        height: 36px;
    }

        #profil > div > a:hover {
            background-color: rgb(247,151,30);
            color: black !important;
        }

    #profil > div > table > tbody > tr > td > a {
        background-color: bisque;
        display: block;
        padding: 9px 45px 0px 45px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: black;
        line-height: 1.3em;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        height: 36px;
    }

        #profil > div > table > tbody > tr > td > a:hover {
            background-color: rgb(247,151,30);
            color: black !important;
        }



/*---------------------------------------------изменение пароля профиля---------------------------------------------*/
/*---------------------------------------------изменение пароля профиля---------------------------------------------*/
/*---------------------------------------------изменение пароля профиля---------------------------------------------*/

#chpss {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #chpss > a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #chpss > a:target {
            visibility: visible;
            opacity: 1;
        }

    #chpss > div {
        width: 300px;
        height: 300px;
        text-align: center;
        padding: 15px;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: black;
        z-index: 22;
    }

    #chpss:target {
        display: block;
    }

    #chpss > div > a {
        background-color: bisque;
        display: block;
        padding: 9px 45px 0px 45px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: black;
        line-height: 1.3em;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        height: 36px;
    }

        #chpss > div > a:hover {
            background-color: rgb(247,151,30);
            color: black !important;
        }

/*---------------------------------------------изменение почты профиля---------------------------------------------*/
/*---------------------------------------------изменение почты профиля---------------------------------------------*/
/*---------------------------------------------изменение почты профиля---------------------------------------------*/

#chmail {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #chmail > a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #chmail > a:target {
            visibility: visible;
            opacity: 1;
        }

    #chmail > div {
        width: 300px;
        height: 300px;
        text-align: center;
        padding: 15px;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: black;
        z-index: 22;
    }

    #chmail:target {
        display: block;
    }

    #chmail > div > a {
        background-color: bisque;
        display: block;
        padding: 9px 45px 0px 45px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: black;
        line-height: 1.3em;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        height: 36px;
    }

        #chmail > div > a:hover {
            background-color: rgb(247,151,30);
            color: black !important;
        }