/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {

    display: flex;
    min-height: 77%;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    height: 10%;
    background: rgb(0,0,0);
    color: white;
    bottom: 0%;
}

.headerbg {
    
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(8,8,8,0.5);
}

    .headerbg:hover {
        background: rgba(8,8,8,1);
    }

.bodybg {
    background: rgb(8,8,8);
    background: linear-gradient(180deg, rgba(8,8,8,1) 0%, rgba(26,25,23,1) 50%, rgba(0,0,0,1) 100%);
}