
img.imagetitle {
    border: none;
    animation: move-highlight 4s linear infinite;
    /*картинка тайтла в списке тайтлов*/
}
    img.imagetitle:hover {
        border: 5px solid rgb(247,151,30,0.7);
        border-radius: 10px;
        animation-play-state: paused;
    }

.bgtitleopacity {
    background: rgba(247,151,30,0.6);
    color: black;
}

    .bgtitleopacity:hover {
        background: rgba(247,151,30,1);
        color: black;
    }

.textstyle {
    color: black;
}

    .textstyle:hover {
        color: rgb(26,25,23) !important;
    }

.bglistcast {
    background: rgba(26,25,23,0);
    background: linear-gradient(180deg, rgba(247,151,30,0.6) 0%, rgba(26,25,23,0.1) 50%, rgba(26,25,23,0) 100%);
    color: black;
}

.bglistcast:hover {
    background: rgba(26,25,23,0);
    background: linear-gradient(180deg, rgba(247,151,30,1) 0%, rgba(26,25,23,0.2) 50%, rgba(26,25,23,0) 100%);
}