
img.imagetitle {
    border: none;
    animation: move-highlight 4s linear infinite;
    /*картинка тайтла в списке тайтлов*/
}
    img.imagetitle:hover {
        border: 5px solid rgb(247,151,30,0.7);
        border-radius: 10px;
        animation-play-state: paused;
    }

.bgtitleopacity {
    background: rgba(247,151,30,0.6);
    color: black;
}

    .bgtitleopacity:hover {
        background: rgba(247,151,30,1);
        color: black;
    }

.textstyle {
    color: black;
}

    .textstyle:hover {
        color: rgb(26,25,23) !important;
    }

.bglistcast {
    background: rgba(26,25,23,0);
    background: linear-gradient(180deg, rgba(247,151,30,0.6) 0%, rgba(26,25,23,0.1) 50%, rgba(26,25,23,0) 100%);
    color: black;
}

.bglistcast:hover {
    background: rgba(26,25,23,0);
    background: linear-gradient(180deg, rgba(247,151,30,1) 0%, rgba(26,25,23,0.2) 50%, rgba(26,25,23,0) 100%);
}

img.deleteicon{
    width:30px !important;
    height:30px !important;
}
img.deleteicon:hover{
    width:30px !important;
    height:25px !important;
}


#editreviews {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    z-index: 20;
}

    #editreviews > a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 21;
    }

        #editreviews > a:target {
            visibility: visible;
            opacity: 1;
        }

    #editreviews > div {
        width: 900px;
        height: 400px;
        text-align: center;
        padding: 15px;
        border: 3px solid rgb(247,151,30);
        border-radius: 10px;
        color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: rgb(8,8,8);
        z-index: 22;
    }

    #editreviews:target {
        display: block;
    }

    #editreviews > div > a {
        bottom: 0%;
        width: 80%;
        background-color: bisque;
        font-size: 20px;
        color: black;
        font-weight: bold;
        height: 36px;
    }

        #editreviews > div > a:hover {
            background-color: rgb(247,151,30);
            color: rgb(8,8,8) !important;
        }

    #editreviews > div > form {
        width: 80%;
    }