@model NewKinoHub.Storage.Entity.Users
<head>
    <link href="~/css/Profil.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <h3 style="color:white; margin-top:4%;">Name: @Model.Login </h3>

        @*--------------------Начало блока с изменением пароля--------------------*@
        <div id="chpss">
            <a href="#"></a>
            <div>
                Введите новый пароль<br />
                <br />
                <input type="email" placeholder="Введите новый пароль..." /> <br />
                <a href="#profil">Сохранить</a><br />
                <a href="#profil">Закрыть</a>

            </div>
        </div>
        @*--------------------Конец блока с изменением пароля--------------------*@
        @*--------------------Начало блока с изменением почты--------------------*@
        <div id="chmail">
            <a href="#"></a>
            <div>
                Введите новую почту<br />
                <br />
                <input type="password" placeholder="Введите новую почту..." /> <br />
                <a href="#profil">Сохранить</a><br />
                <a href="#profil">Закрыть</a>

            </div>
        </div>
        @*--------------------Конец блока с изменением почты--------------------*@
        @*--------------------Начало блока с настройками профиля--------------------*@
        <div id="profil">
            <a href="#"></a>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td style="width:170px;">
                                <img style="width:100px !important; height:100px !important;" class="avasize" src="~/lib/images/Films/Alien.jpg" />@*поле с аватаркой пользователя*@
                            </td>
                            <td>
                                Настройки<br />
                                <a href="#chmail">Изменить почту</a><br />
                                <a href="#chpss">Изменить пароль</a><br />
                                <a href="#">Закрыть</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @*--------------------Конец блока с настройками профиля--------------------*@

        <div style="margin-top:40px;">
            <center>
                @if (Model.Image != null)
                {
                    <img class="avasize" src=@Model.Image /> @*поле с аватаркой пользователя*@
                }
                else
                {
                    <img class="avasize" src="~/lib/images/2.jpeg" /> @*поле с аватаркой пользователя*@
                }
                <div style="margin-top:10px;">
                    <a class="btn" href="#profil">Редактировать профиль</a>
                </div>
                <div style="margin-top:10px;">
                    <a class="btn" asp-area="" asp-controller="Users" asp-action="Profil">Избранное</a>
                </div>
                <div style="margin-top:10px;">
                    <a class="btn" href=@Url.Action("Logout", "Account")>Выйти из аккаунта</a>
                </div>
            </center>
        </div>
        <div style="margin-top:10px;">
            @if (Model.Favorites != null)
            {
                @foreach (var f in Model.Favorites.Medias)
                {
                    <div>
                        <a>@f.Name  </a>
                    </div>
                    <div style="margin-top:10px;">
                        <a class="btn" href=@Url.Action("DeleteFilms", "User", new { id = f.MediaID})>Удалить</a>
                    </div>
                }
            }
        </div>
        <div>
            <h2 style="color:white;">Здесь будут выводиться избранные тайтлы</h2>

            @*поле с избранными тайтлами*@

        </div>
    </div>
</body>